.header {
  width: 100%;
  display: flex;
  justify-content: center;
  box-shadow: -2px 0px 8px 2px rgba(0, 0, 0, 0.1);

  &-container {
    max-width: 1052px;
    width: 100%;
    padding: 6px 16px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &-logo {
    width: 46px;
    height: 49px;
  }

  &-nav {
    display: flex;
    gap: 24px;

    & .nav-item {
      font-size: 18px;
      font-style: normal;
      font-weight: 700;
      line-height: normal;
    }
  }
}
